<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head}"/>
<body class="d-flex flex-column h-100">
<div th:replace="~{fragments/navbar}">Navbar</div>

<main>
    <div class="container">
        <form th:action="@{/drivers}"
              th:method="post"
              th:object="${DriversSearchForm}"
              autocomplete=off>
            <div class="input-group my-4">
                <input th:field="*{searchTerm}" type="text" class="form-control" id="searchTerm" name="searchTerm"
                       aria-describedby="input-group-button-right">
                <button type="submit" class="btn btn-outline-secondary" id="input-group-button-right">Найти</button>
            </div>
        </form>
        <div th:if="${driversSearchError != 'not found'}">
            <div th:each="driver : ${driverList}" class="d-flex flex-column bg-text mb-3">
                <div class="card mt-2">
                    <div class="card-header bg-transparent h2">Информация о водителе</div>
                    <div class="card-body">
                        <h4 th:text="'Имя: ' + ${ driver.name}"></h4>
                        <h4 th:text="'Возраст: ' + ${ driver.age}"></h4>
                        <h4 th:text="'Национальность: ' + ${ driver.nationality}"></h4>
                        <h4 th:text="'Номер: ' + ${ driver.number}"></h4>
                        <h4 th:text="'Количество очков: ' + ${ driver.points}"></h4>
                    </div>
                    <div class="card-footer bg-transparent">
                        <div class="d-flex flex-row-reverse">
                            <div class="align-bottom" sec:authorize="hasAnyRole('ADMIN')"><a
                                    class="btn btn-danger align-bottom"
                                    th:href="@{/drivers/{id}/delete(id=${driver.id})}">Удалить водителя</a>
                            </div>
                            <div class="align-bottom me-2" sec:authorize="hasAnyRole('MODERATOR', 'ADMIN')"><a
                                    class="btn btn-warning align-bottom"
                                    th:href="@{/drivers/{id}/edit(id=${driver.id})}">Изменить водителя</a>
                            </div>
                            <div class="align-bottom me-2">
                                <a class="btn btn-info align-bottom"
                                   th:href="@{/drivers/{id}(id=${driver.id})}">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-around bd-highlight">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li th:class="${currentPage == 0} ? 'page-item disabled' : 'page-item'">
                            <a class="page-link" th:href="@{/drivers(page=${currentPage - 1})}" aria-label="Previous">
                                <span aria-hidden="true">«</span>
                            </a>
                        </li>
                        <li th:class="${page == currentPage + 1} ? 'page-item active' : 'page-item'"
                            th:each="page : ${#numbers.sequence(currentPage < 5 ? 1 : pageCount - currentPage < 6 ? (pageCount >= 11 ? pageCount - 10 : 1) : currentPage - 4, pageCount - currentPage < 6 ? pageCount : currentPage < 5 ? (pageCount >= 11 ? 11 : pageCount) : currentPage + 6)}">
                            <a class="page-link" th:href="@{/drivers(page=${page - 1})}" th:text="${page}">1</a>
                        </li>
                        <li th:class="${currentPage == pageCount - 1} ? 'page-item disabled' : 'page-item'">
                            <a class="page-link" th:href="@{/drivers(page=${currentPage + 1})}" aria-label="Next">
                                <span aria-hidden="true">»</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="align-bottom" sec:authorize="hasAnyRole('MODERATOR', 'ADMIN')">
                    <a class="btn btn-secondary align-bottom" th:href="@{/drivers/create}">Создать водителя</a>
                </div>
            </div>
        </div>
        <div th:unless="${driversSearchError != 'not found'}" class="d-flex justify-content-center"><h1> Ничего не
            нашлось</h1></div>
    </div>
</main>
<footer th:replace="~{fragments/footer}"/>
</body>
</html>