<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"/>
<body class="d-flex flex-column h-100">
<div th:replace="~{fragments/navbar}">Navbar</div>
<main>
    <div class="container">
        <div class="card mt-5 mb-5">
            <div class="card-header bg-transparent h2">Изменение машины</div>
            <div class="card-body">
                <form th:action="@{/cars/{id}/edit(id=${carEditId})}"
                      th:method="post"
                      th:object="${carEditForm}"
                      class="m-md-auto w-50 pb-3">
                    <div class="mb-3">
                        <label class="form-label" for="model">Модель:</label>
                        <input th:field="*{model}"
                               th:errorclass="is-invalid"
                               type="text" class="form-control text-center" id="model" aria-describedby="modelHelp"
                               name="model"/>
                        <small th:if="${#fields.hasErrors('model')}" th:errors="*{model}" class="text-danger">Error
                            message</small>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="year">Год выпуска:</label>
                        <input th:field="*{year}"
                               th:errorclass="is-invalid"
                               type="text" class="form-control text-center" id="year" aria-describedby="yearHelp"
                               name="year"/>
                        <small th:if="${#fields.hasErrors('year')}" th:errors="*{year}" class="text-danger">Error
                            message</small>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="engine">Модель двигателя:</label>
                        <input th:field="*{engine}"
                               th:errorclass="is-invalid"
                               type="text" class="form-control text-center" id="engine" aria-describedby="engineHelp"
                               name="engine"/>
                        <small th:if="${#fields.hasErrors('engine')}" th:errors="*{engine}" class="text-danger">Error
                            message</small>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="horsepower">Количество лошадиных сил:</label>
                        <input th:field="*{horsepower}"
                               th:errorclass="is-invalid"
                               type="text" class="form-control text-center" id="horsepower"
                               aria-describedby="horsepowerHelp"
                               name="horsepower"/>
                        <small th:if="${#fields.hasErrors('horsepower')}" th:errors="*{horsepower}" class="text-danger">Error
                            message</small>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="weight">Вес:</label>
                        <input th:field="*{weight}"
                               th:errorclass="is-invalid"
                               type="text" class="form-control text-center" id="weight" aria-describedby="weightHelp"
                               name="weight"/>
                        <small th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}" class="text-danger">Error
                            message</small>
                    </div>
                    <button type="submit" class="btn btn-success">Изменить машину</button>
                </form>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/footer}"/>
</body>
</html>