<!DOCTYPE html>
<html lang="ru" class="h-100" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main>
    <div class="container">
        <div class="card mt-5 mb-5">
            <div class="card-header bg-transparent h2">Информация о гонке</div>
            <div class="card-body">
                <h4 th:text="'Название: ' + ${ raceDetails.race.name}"></h4>
                <h4 th:text="'Место проведения: ' + ${ raceDetails.race.location}"></h4>
                <h4 th:text="'Длительность: ' + ${ raceDetails.race.duration}"></h4>
                <h4 th:text="'Дата проведения: ' + ${#dates.format(raceDetails.race.date, 'dd-MMM-yyyy')} "></h4>
                <h4 th:text="'Название трассы: ' + ${ raceDetails.circuit}"></h4>
                <h4 th:text="'Список телеканалов: ' + ${ raceDetails.broadcasters}"></h4>


                <div class="card my-2" th:if="${not #lists.isEmpty(raceDetails.raceTeams)}"
                     th:each="raceTeam  : ${raceDetails.raceTeams}">
                    <div class="card-body">
                        <div class="d-flex flex-column bg-text mb-3">
                            <h5 th:text="'Название: ' + ${raceTeam.team.name} + ', страна: ' + ${raceTeam.team.country}"></h5>
                            <h5 th:text="'Имя: ' + ${raceTeam.driver.name} + ', возраст: ' + ${raceTeam.driver.age} + ', национальность: ' + ${raceTeam.driver.nationality}"></h5>
                            <h5 th:text="'Модель: ' + ${raceTeam.car.model} + ', Год выпуска: ' + ${raceTeam.car.year}"></h5>
                            <div th:if="${raceTeam.result}">
                                <h5 th:text="'Позиция: ' + ${raceTeam.result.position} + ', время: ' + ${raceTeam.result.time}"></h5>
                                <div class="align-bottom me-2">
                                    <a class="btn btn-success align-bottom"
                                       th:href="@{/results/{id}(id=${raceTeam.result.id})}">Подробнее</a>
                                </div>
                                <div class="align-bottom mt-2" sec:authorize="hasAnyRole('ADMIN')"><a
                                        class="btn btn-danger align-bottom"
                                        th:href="@{/results/{id}/delete(id=${raceTeam.result.id})}">Удалить результат</a>
                                </div>
                            </div>
                            <div th:unless="${raceTeam.result}">
                                <div class="align-bottom me-2" sec:authorize="hasAnyRole('MODERATOR', 'ADMIN')"><a
                                        class="btn btn-success align-bottom"
                                        th:href="@{/results/create(raceTeamId=${raceTeam.id}, raceId=${raceDetails.race.id})}">Добавить результат участнику</a>
                                </div>
                            </div>
                            <div class="align-bottom mt-2" sec:authorize="hasAnyRole('ADMIN')"><a
                                    class="btn btn-danger align-bottom"
                                    th:href="@{/raceteams/{id}/delete(id=${raceTeam.id}, raceId=${raceDetails.race.id})}">Удалить участника</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card my-2" th:unless="${not #lists.isEmpty(raceDetails.raceTeams)}">
                    <div class="card-body">
                        <h4>Участников пока нет</h4>
                    </div>
                </div>

            </div>
        </div>

        <div class="d-flex flex-row-reverse">
            <div class="align-bottom" sec:authorize="hasAnyRole('ADMIN')"><a
                    class="btn btn-danger align-bottom"
                    th:href="@{/races/{id}/delete(id=${raceDetails.race.id})}">Удалить гонку</a>
            </div>
            <div class="align-bottom me-2" sec:authorize="hasAnyRole('MODERATOR', 'ADMIN')"><a
                    class="btn btn-warning align-bottom"
                    th:href="@{/races/{id}/edit(id=${raceDetails.race.id})}">Изменить гонку</a>
            </div>
            <div class="align-bottom me-2" sec:authorize="hasAnyRole('MODERATOR', 'ADMIN')"><a
                    class="btn btn-success align-bottom"
                    th:href="@{/raceteams/create(raceId=${raceDetails.race.id})}">Добавить участника</a>
            </div>
        </div>

    </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>